body {
  color: #333;
  font-size: 14px;
  font-family: "HiraMinProN-W3";
  line-height: 1.5;
}

#header {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-family: "Hiragino Kaku Gothic ProN";
}

#header .navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 10px;
}

#header .navigation .logo {
  font-size: 48px;
  font-family: "Josefin Sans", "sans-serif";
  color: #8b8b8b;
  font-weight: normal;
  width: 30%;
}

#header .navigation .menu__list {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
}

#header .navigation .menu__item a {
  padding: 20px 40px;
  display: block;
  text-decoration: none;
  color: #333;
}

#header .navigation .menu__item a:hover {
  color: #67baca;
}

#header .navigation .menu__item .current {
  color: #67baca;
}

.fixed {
  position: fixed;
}

#content {
  width: 100%;
  background: url(/images/main.jpg) no-repeat;
  background-size: cover;
}

#content .content__inner {
  width: 90%;
  margin: 0 auto;
}

#content__inner {
  width: 80%;
  margin: 0 auto;
}

#content .title01 {
  text-align: center;
  font-size: 32px;
  color: #0087aa;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 30px 0;
}

#content .profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

#content .profile_box__left {
  margin-right: 20px;
  width: 40%;
}

#content .profile_box__left img {
  width: 100%;
}

#content .profile_box__right .title_name {
  font-size: 60px;
  font-family: "Sofia", "cursive";
  color: #67baca;
  text-align: center;
}

#content .profile_box__right .title_name span {
  color: #777778;
  font-size: 24px;
  font-family: "HiraMinProN-W3";
  letter-spacing: 0.3em;
  display: block;
  margin-top: 10px;
}

#content .profile_box__right .text_box {
  margin-top: 40px;
  line-height: 2.5;
  color: #777778;
  text-align: center;
}

#content .performance {
  padding-top: 100px;
}

#content .performance .performance_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#content .performance .performance_box__left {
  margin-bottom: 60px;
}

#content .performance .performance_box__left a {
  text-decoration: none;
  display: block;
}

#content .performance .performance_box__left a .img_box {
  width: 480px;
  height: 286px;
  overflow: hidden;
  background: #000;
  border-radius: 5px;
}

#content .performance .performance_box__left a .img_box img {
  transition: 0.3s;
}

#content .performance .performance_box__left a .img_box img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  opacity: 0.6;
}

#content .performance .performance_box__right {
  margin-bottom: 60px;
}

#content .performance .performance_box__right a {
  text-decoration: none;
  display: block;
}

#content .performance .performance_box__right a .img_box {
  width: 480px;
  height: 286px;
  overflow: hidden;
  background: #000;
  border-radius: 5px;
}

#content .performance .performance_box__right a .img_box img {
  transition: 0.3s;
}

#content .performance .performance_box__right a .img_box img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  opacity: 0.6;
}

#content .performance .performance_box .title02 {
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

#content .contact {
  padding-top: 100px;
}

#content .contact .contact_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#content .contact .contact_form__item {
  width: 100%;
  margin-bottom: 30px;
}

#content .contact .contact_form__item p {
  margin-bottom: 10px;
}

#content .contact .contact_form__item p span {
  margin-left: 10px;
  color: #ff89c4;
}

#content .contact .contact_form__item input, #content .contact .contact_form__item textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #eee;
  border: solid 1px #ddd;
}

#content .contact .contact_form__item input:focus, #content .contact .contact_form__item textarea:focus {
  background: #fff;
}

#content .contact .contact_form__item textarea {
  height: 200px;
}

#content .contact .contact_form__item .error {
  border: solid 2px #ec0000;
}

#content .contact .contact_form__button button {
  border: none;
  background: #0087aa;
  padding: 5px 10px;
  border-radius: 2px;
  color: #fff;
}

#content .contact .contact_form__button button:hover {
  background-color: #ff89c4;
  transition-duration: 0.3s;
}

#footer {
  background: #333;
}

#footer .copyright {
  padding: 20px 0;
  text-align: center;
  color: #fff;
}
